## Ignore Visual Studio temporary files, build results.
## The files provided by common sources restrict the inclusion too much
## in my opinion.
## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
[Ww]eb.config

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# The following directory must be allowed for ASP.NET websites
# [Bb]in/
